* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(229, 103, 103);
    font-size: 85px;
}

#btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #b7b1b1;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#newDiv{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
#newDiv div{
    padding-top: 3px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 30px;
}
#alldiv{
    border-top: 1px solid #b7b1b1;
}
#text{
    margin-bottom: 3px;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #cecece;
    font-size: 20px;
    height: 50px;
    padding: 10px;
}

input:focus {
    outline: none;
    border: 1px solid rgb(229, 103, 103);
}

#all,
#active,
#completed,
#clearCompleted {
    border: none;
    background-color: #fff;
    margin-right: 15px;
    color: #b7b1b1;
    font-size: 14px;
    padding: 5px;
}
#item{
    font-size: 16px;
    margin-top: 5px;
}
#all:hover,
#active:hover,
#completed:hover,
#clearCompleted:hover {
    outline: none;
    border: 1px solid rgb(229, 103, 103);
}

form div {
    display: flex;
    width: 100%;
}

form div button {
    width: 50px;
    background-color: #fff;
    border: none;
    font-size: 30px;
}

#clear {
    position: absolute;
    left: 75.5%;
    display: none;
    border: none;
    font-size: 25px;
    background-color: #dedede;
}
#bottom{
    height: 50px;
    border-bottom: 1px solid #cecece;
}
#bottom:hover {
    border-right: 1px solid #b7b1b1;
    font-size: 35px;
    border: 1px solid rgb(229, 103, 103);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container{
    padding: 20px;
    width: 80%;
    background-color: #dedede;
}
@media(max-width:780px){
    #clear{
        left: 73.5%;
    }
    #all,
#active,
#completed,
#clearCompleted {
    border: none;
    background-color: #fff;
    margin-right: 15px;
    color: #b7b1b1;
    font-size: 10px;
    margin-top: 5px;
}
#item{
    font-size: 16px;
    margin-top: 5px;
}

}
.divv{
    display: flex;
    flex-direction: row ;
    justify-content: space-between ; 
}